html {
background-color: #7ed9d9;
padding-top: 150px;
}

img {
width: 300px;
height: auto;
border: 5px solid white;
float: left;
margin-left: 450px;
}

h1 {
font-family: 'Dancing Script', cursive;
font-size: 80px;
color: white;

}

div.greeting{
margin-left: 780px;
color: white;
}
